extends layout

block content
  h1= title
  ol
    for rhythm in rhythms
      li
        h3= rhythm.name
        p Health: #{rhythm.gaugeValue}%
        p Cooldown: #{rhythm.coolDown}%
        form(action="/" method="post")
          input(type="hidden", name="buttonIndex", value="#{rhythm.buttonIndex}")
          input(type="hidden", name="eventType", value="0")
          input(type="submit", value="I did it!")
  form(action="/activity" method="post")
    div
      h3 Record Activity
      textarea(name="activityName", rows="2")
    p
      label
        input(type="checkbox", name="wasEnjoyable", value="true")
        | Enjoyable
    div
      em
        p Always answer this
      - for (var i = 1; i < 11; ++i) {
      input(type="radio", name="enjoyableRating", value="#{i}")
      | #{i}
      - }
    p
      label
        input(type="checkbox", name="didAccomplish", value="true")
        | Accomplished something
    div
      em
        p Always answer this
      - for (var i = 1; i < 11; ++i) {
      input(type="radio", name="accomplishRating", value="#{i}")
      | #{i}
      - }
    p
      input(type="submit", value="Record")
